.not-found-container {
    text-align: center;
    margin-top: 100px;
    color: #333;
}

.not-found-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 1.2rem;
    color: #777;
}
